.main_page_list {
  width: 650px;
  height: 650px;
  border-radius: 25px;
  box-shadow: 1px 0px 50px -20px grey;
  overflow: scroll;
}
.main_page_list > h4 {
  color: #545454;
  background-color: #f6f6f6;
  padding: 40px 0px;
  font-size: 30px;
}
