.side_bar {
    background: linear-gradient(0deg, rgba(90, 62, 200, 1) 24%, rgba(58, 114, 200, 1) 100%);
    height: 100%;
    width: 100%;
    border-radius: 25px;
}
.title {
    color: #9a9a9a;
    font-size: 21px;
}
.title-text {
    color: #545454;
    font-size: 21px;
    font-weight: 500;
}
.tab-panel {
    height: calc(100% - 66px);
    display: flex;
    align-items: center;
}
.comming-soon{
  text-align: center;
  font-weight: 800;
    color: #eee;
    font-size: 5rem;
}
